<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css" />

    <title>CryptoWeb</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row align-items-stretch no-gutters contact-wrap">
          <div class="col-md-12">
            <div class="form h-100">
              <div class="row">
                <div class="col-md-2">
                  <h3 style="margin-bottom: 0px;">CryptoWeb</h3>
                </div>
                <div class="col-md-10">
                    <h6 style="padding-top: 20px; margin-bottom: 20px;">by Bambang & Daru</h6>
                </div>
              </div>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="text-tab" href="#text">
                    Text
                  </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="file-tab" href="#file"> File </a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="enigma-tab" href="#enigma"> Enigma </a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="text"
                  role="tabpanel"
                  aria-labelledby="text-tab"
                >
                  <form
                    class="mb-5"
                    method="post"
                    id="contactForm"
                    name="contactForm"
                  >
                    <div class="row text-input">
                      <div class="col-md-6 form-group mb-3">
                        <label for="" class="col-form-label">Text</label>
                        <input
                          type="text"
                          class="form-control"
                          name="text"
                          id="text"
                          placeholder="Insert text" required
                        />
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label for="" class="col-form-label">Key</label>
                        <input
                          type="text"
                          class="form-control"
                          name="key"
                          id="key"
                          placeholder="Insert key" required
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Encrypting Method</label
                        >
                        <select class="custom-select method-select-text" id="method" name="method">
                          <option value="vigenere" selected>Vigenere Cipher</option>
                          <option value="fullvigenere">
                            Full Vigenere Cipher
                          </option>
                          <option value="autokeyvigenere">
                            Auto-key Vigenere Cipher
                          </option>
                          <option value="exvigenere">
                            Extended Vigenere Cipher
                          </option>
                          <option value="playfair">Playfair Cipher</option>
                          <option value="affine">Affine Cipher</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="outStyle" class="col-form-label"
                          >Output Style</label
                        >
                        <select class="custom-select" id="outStyle" name="outStyle">
                          <option value="nospace" selected>No Space</option>
                          <option value="five">
                            5-Letter Groups
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-group">
                        <input
                          type="submit"
                          id="encrypt"
                          class="btn btn-primary rounded-0 py-2 px-4"
                          value="Encrypt"
                        />
                      </div>
                      <div class="col-md-10 form-group">
                        <input
                          type="submit"
                          id="decrypt"
                          class="btn btn-primary rounded-0 py-2 px-4"
                          value="Decrypt"
                        />
                      </div>
                    </div>
                  </form>
                </div>

                <div
                  class="tab-pane fade"
                  id="file"
                  role="tabpanel"
                  aria-labelledby="file-tab"
                >
                <form
                    class="mb-5"
                    method="post"
                    id="contactForm"
                    name="contactForm"
                    enctype="multipart/form-data"
                  >
                    <div class="row">
                      <div class="col-md-2 form-group mb-3">
                        <label for="" class="col-form-label">File Type</label>
                        <select class="custom-select file-select" id="filetype" name="filetype" required>
                          <option value="text" selected>Text</option>
                          <option value="binary">
                            Binary
                          </option>
                        </select>
                      </div>
                      <div class="col-md-10 form-group mb-3">
                        <label for="" class="col-form-label">File</label>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="customFile" name="file" accept="text/plain" required>
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                      </div>
                    </div>

                  <div class="row file-input">
                    <div class="col-md-12 form-group mb-3">
                      <label for="" class="col-form-label">Key</label>
                        <input
                          type="text"
                          class="form-control"
                          name="key"
                          id="key"
                          placeholder="Insert key" required
                        />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="method" class="col-form-label"
                        >Encrypting Method</label
                      >
                      <select class="custom-select method-select-file" id="method" name="method">
                        <option value="vigenere" selected>Vigenere Cipher</option>
                        <option value="fullvigenere">
                          Full Vigenere Cipher
                        </option>
                        <option value="autokeyvigenere">
                          Auto-key Vigenere Cipher
                        </option>
                        <option value="exvigenere">
                          Extended Vigenere Cipher
                        </option>
                        <option value="playfair">Playfair Cipher</option>
                        <option value="affine">Affine Cipher</option>
                      </select>
                      <input type="hidden" name="method" value="exvigenere">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="outStyle" class="col-form-label"
                        >Output Style</label
                      >
                      <select class="custom-select" id="outStyle" name="outStyle">
                        <option value="nospace" selected>No Space</option>
                        <option value="five">
                          5-Letter Groups
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2 form-group">
                      <input
                        type="submit"
                        id="encryptFile"
                        class="btn btn-primary rounded-0 py-2 px-4"
                        value="Encrypt"
                      />
                    </div>
                    <div class="col-md-10 form-group">
                      <input
                        type="submit"
                        id="decryptFile"
                        class="btn btn-primary rounded-0 py-2 px-4"
                        value="Decrypt"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <div
                  class="tab-pane fade"
                  id="enigma"
                  role="tabpanel"
                  aria-labelledby="enigma-tab"
                >
                <form
                    class="mb-5"
                    method="post"
                    id="contactForm"
                    name="contactForm"
                  >
                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="" class="col-form-label">Text</label>
                          <input
                            type="text"
                            class="form-control"
                            name="text"
                            id="text"
                            placeholder="Insert text" required
                          />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="reflector" class="col-form-label"
                          >Reflector</label
                        >
                        <select class="custom-select" id="reflector" name="reflector">
                          <option value="0" selected>UKW B</option>
                          <option value="1">
                            UKW C
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4 form-group mb-3">
                        <label for="rotor1" class="col-form-label"
                          >Rotor 1</label
                        >
                        <select class="custom-select" id="rotor1" name="rotor1">
                          <option value="1" selected>I</option>
                          <option value="2">II</option>
                          <option value="3">III</option>
                          <option value="4">IV</option>
                          <option value="5">V</option>
                          <option value="6">VI</option>
                          <option value="7">VII</option>
                          <option value="8">VIII</option>
                        </select>
                      </div>

                      <div class="col-md-4 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Position</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="pos1"
                          id="pos1"
                          value="1"
                          min="1"
                          max="26" required
                        />
                      </div>

                      <div class="col-md-4 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Ring</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="ring1"
                          id="ring1"
                          value="1" 
                          min="1"
                          max="26" required
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4 form-group mb-3">
                        <label for="rotor" class="col-form-label"
                          >Rotor 2</label
                        >
                        <select class="custom-select" id="rotor2" name="rotor2">
                          <option value="1">I</option>
                          <option value="2" selected>II</option>
                          <option value="3">III</option>
                          <option value="4">IV</option>
                          <option value="5">V</option>
                          <option value="6">VI</option>
                          <option value="7">VII</option>
                          <option value="8">VIII</option>
                        </select>
                      </div>

                      <div class="col-md-4 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Position</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="pos2"
                          id="pos2"
                          value="1" 
                          min="1"
                          max="26" required
                        />
                      </div>

                      <div class="col-md-4 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Ring</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="ring2"
                          id="ring2"
                          value="1" 
                          min="1"
                          max="26" required
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4 form-group mb-3">
                        <label for="rotor" class="col-form-label"
                          >Rotor 3</label
                        >
                        <select class="custom-select" id="rotor3" name="rotor3">
                          <option value="1">I</option>
                          <option value="2">II</option>
                          <option value="3" selected>III</option>
                          <option value="4">IV</option>
                          <option value="5">V</option>
                          <option value="6">VI</option>
                          <option value="7">VII</option>
                          <option value="8">VIII</option>
                        </select>
                      </div>

                      <div class="col-md-4 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Position</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="pos3"
                          id="pos3"
                          value="1" 
                          min="1"
                          max="26" required
                        />
                      </div>

                      <div class="col-md-4 form-group mb-3">
                        <label for="method" class="col-form-label"
                          >Ring</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          name="ring3"
                          id="ring3"
                          value="1" 
                          min="1"
                          max="26" required
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="" class="col-form-label">Plugboard</label>
                          <input
                            type="text"
                            class="form-control"
                            name="plug"
                            id="plug"
                            placeholder="XX XX XX XX XX"
                          />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <label for="outStyle" class="col-form-label"
                          >Output Style</label
                        >
                        <select class="custom-select" id="outStyle" name="outStyle">
                          <option value="nospace" selected>No Space</option>
                          <option value="five">
                            5-Letter Groups
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <input
                        type="submit"
                        id="encryptEnigma"
                        class="btn btn-primary rounded-0 py-2 px-4"
                        value="Encrypt"
                      />
                    </div>

                  </form>
              </div>
            </div>
            <h4>Input</h4>
              <div style="overflow: auto; margin-bottom: 10px;">
                {% if input is defined %}
                  {{ input }}
                {% else %}
                  Insert input first.
                {% endif %}
              </div>
            <h4>Method</h4>
              <div style="overflow: auto; margin-bottom: 10px;">
                {% if method is defined %}
                  {{ method}}
                {% else %}
                  Insert input first.
                {% endif %}
              </div>
            <h4>Output</h4>
              <div style="overflow: auto;">
                {% if output is defined %}
                  {{ output }}
                {% else %}
                  Insert input first.
                {% endif %}
              </div>
              {% if output is defined %}
              <form><div class="row"><input
                type="submit"
                id="downloadOutput"
                class="btn btn-primary rounded-0 py-2 px-4"
                value="Download"
              /></div></form>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
